<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed curser-pointer"
              data-toggle="collapse" data-target="#navbar-collapse"
              aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand curser-pointer">Panda Blog</a>
    </div>
    <div class="collapse navbar-collapse curser-pointer" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a>Link</a></li>
        <li><a>Link</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right curser-pointer">
        <li><a>Link</a></li>
      </ul>
    </div>
  </div>
</nav>
