$light-grey-background-color: #e0e0e0;
$ultra-light-background-color: #efefef;

$grey-border-color: #b6b9c1;

$light-grey-font-color: #cdcdcd;

$grey-dashed-border: 2px dashed $grey-border-color;

$border-radius-md: 5px;
$border-radios-xl: 10px;
