@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://use.fontawesome.com/releases/v5.0.9/css/all.css');

.curser-pointer {
  cursor: pointer;
}

.container {
  margin-top: 3em;
}

body {
  font-family: 'Indie Flower', cursive;
}

.center {
  display: block;
  margin: 1em auto;
}
